# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/



# Environment variables - NEVER push this
.env
.env.*

# Celery
celerybeat-schedule
celerybeat.pid

# Temp files

*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Django
db.sqlite3
staticfiles/

# Credentials / certs
*.pem
*.key
*.pfx

# Test / coverage output
.coverage
htmlcov/
.pytest_cache/
